{% extends "includes/base.html" %} {% load static %} {% block content %}
<section class="section">
  <div class="container">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <h1 class="title">All the Books</h1>
        </div>
      </div>
      <div class="level-item">
        <form id="search-form">
          <div class="field has-addons">
            <div class="control is-expanded">
              <input
                class="input"
                type="text"
                placeholder="Search Books (title, author)"
                style="width: 30vw;"
                id="query"
              />
            </div>
            <div class="control">
              <button type="submit" class="button is-info" id="btn-search">
                Search
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="level-right">
        <div class="level-item">
          <button class="button is-danger" id="btn-add">
            <span class="icon is-small">
              <i class="fas fa-heart"></i>
            </span>
            <span>View Most Liked</span>
          </button>
        </div>
      </div>
    </div>
    <progress
      class="progress is-small is-primary"
      max="100"
      value="0"
      id="progress"
      >0%</progress
    >
    <div class="grid" id="book-results-container"></div>
  </div>
</section>
<div class="modal" id="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="card">
      <div class="card-content">
        <div class="content modal-book-container" id="modal-content"></div>
      </div>
    </div>
  </div>
  <button
    class="modal-close is-large"
    id="btn-close"
    aria-label="close"
  ></button>
</div>
{% endblock %} {% block js %}
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="{% static 'story9/main.js' %}"></script>
{% endblock %} {% block title %} Books {% endblock %} {% block head %}
<style>
  .grid-item {
    width: 20%;
    padding: 0.5rem;
  }

  .like-icon {
    margin-right: 0.4em;
  }

  .card-like {
    color: #f14668;
  }

  .card-like:hover {
    color: black;
    cursor: pointer;
  }

  #progress {
    margin-bottom: 0.3rem;
  }

  .modal-book-item {
    width: 60%;
    margin-bottom: 2rem;
  }

  .modal-book-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>
{% endblock %}
