{% extends "includes/base.html" %} {% block title %} All Status {% endblock %}
{% block content %}
<section class="section">
  <div class="container">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <h1 class="title">Status</h1>
        </div>
        <div class="level-item">
          <h2 class="subtitle">all the status!</h2>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <button class="button is-success" id="btn-add">
            <span class="icon is-small">
              <i class="fas fa-plus"></i>
            </span>
            <span>Add Status</span>
          </button>
        </div>
      </div>
    </div>
    <div class="columns is-multiline">
      {% if all_status|length > 0 %} {% for status in all_status %}
      <div class="column is-one-quarter-desktop">
        <form action="{% url 'all-status' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="id" value="{{status.id}}" />
          <article class="message is-{{status.color}}">
            <div class="message-header">
              <p>by {{status.sender}}</p>
              <button type="submit" class="btn-change-color">
                <i class="fas fa-dice-six"></i>
              </button>
            </div>
            <div class="message-body">
              {{status.content}}
            </div>
          </article>
        </form>
      </div>
      {% endfor %} {% else %}
      <div class="container">
        <p>No Status to Show!</p>
      </div>
      {% endif %}
    </div>
  </div>
</section>
<div class="modal" id="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="card">
      <div class="card-content">
        <div class="content">
          <form action="{% url 'confirm' %}" method="post">
            {% csrf_token %}
            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  placeholder="Your Name"
                  name="sender"
                  required
                />
              </div>
            </div>
            <div class="field">
              <label class="label">Message</label>
              <div class="control">
                <textarea
                  class="textarea"
                  placeholder="Your Message"
                  name="content"
                  required
                ></textarea>
              </div>
            </div>
            <div class="field is-grouped">
              <div class="control">
                <button class="button is-link" type="submit" id="btn-submit">
                  Submit
                </button>
              </div>
              <div class="control close-modal">
                <a class="button is-link is-light">Cancel</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <button
    class="modal-close is-large"
    id="btn-close"
    aria-label="close"
  ></button>
</div>
{% endblock %} {% block js %}
<script>
  u("#btn-add").on("click", function () {
    u("#modal").addClass("is-active");
  });
  u("#btn-close, .modal-background, .close-modal").on("click", function () {
    u("#modal").removeClass("is-active");
  });
</script>
{% endblock %}
