{% extends "includes/base.html" %} {% block title %} Confirm {% endblock %}
{%block content %}
<section class="section">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <div class="content">
          <form action="{% url 'confirmed' %}" method="post" id="confirm-form">
            {% csrf_token %}
            <h1 class="title">Confirm Message</h1>
            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  value="{{sender}}"
                  name="sender"
                  required
                  readonly
                />
              </div>
            </div>
            <div class="field">
              <label class="label">Message</label>
              <div class="control">
                <textarea class="textarea" name="content" readonly required>
{{content}}</textarea
                >
              </div>
            </div>
            <div class="field is-grouped is-grouped-centered">
              <div class="control">
                <button class="button is-link" type="submit" id="btn-confirm">
                  Yes
                </button>
              </div>
              <div class="control close-modal">
                <a
                  class="button is-link is-light"
                  href="{% url 'all-status' %}"
                  id="btn-cancel"
                  >No</a
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
