{% extends "includes/base.html" %} {% load static %} {% block content %}
<section class="section">
  <div class="container">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
            {% if user.is_authenticated %}
            <h1 class="title">Welcome, {{ user.first_name }} {{ user.last_name }} ({{ user.username }})</h1>
            {% else %}
            <h1 class="title">Not Authenticated</h1>
            {% endif %}
        </div>
      </div>

      <div class="level-right">
        <div class="level-item">
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">
            <button class="button is-danger" id="btn-log">
                <span class="icon is-small">
                <i class="fas fa-sign-out-alt"></i>
                </span>
                <span>Logout</span>
            </button>
            </a>
            {% else %}
            <a href="{% url 'login' %}">
            <button class="button is-info" id="btn-log">
                <span class="icon is-small">
                <i class="fas fa-sign-in-alt"></i>
                </span>
                <span>Login</span>
            </button>
            </a>
            {% endif %}
        </div>
      </div>
    </div>
    <progress
      class="progress is-small is-primary"
      max="100"
      id="progress"
      >0%</progress
    >
    <div class="grid">
      <h3>Your Profile Description:</h3>
      <p>{{ user.profile.desc }}</p>
    </div>
  </div>
</section>
{% endblock %} {% block js %}
{% endblock %} {% block title %} Profile {% endblock %} {% block head %}
<style>
</style>
{% endblock %}
