{% extends "includes/base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="container columns">
<div class="card column is-offset-one-third is-one-third-desktop">
    <div class="card-content">
        <p class="title">Signup</p>
        {% if form.errors %}
            <article class="message is-danger">
            <div class="message-body">
                <ol>
                {% for field in form %}
                {% for error in field.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                {% endfor %}
                </ol>
            </div>
            </article>
        {% endif %}
        <form method="post" action="{% url 'signup' %}">
        {% csrf_token %}

            <div class="field">
            <label class="label">First Name</label>
            <div class="control has-icons-left">
                {{ form.first_name|add_class:'input'|attr:"placeholder:First Name" }}
                <span class="icon is-small is-left">
                <i class="fas fa-signature"></i>
                </span>
            </div>
            </div>

            <div class="field">
            <label class="label">Last Name</label>
            <div class="control has-icons-left">
                {{ form.last_name|add_class:'input'|attr:"placeholder:Last Name" }}
                <span class="icon is-small is-left">
                <i class="fas fa-signature"></i>
                </span>
            </div>
            </div>

            <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left">
                {{ form.username|add_class:'input'|attr:"placeholder:Username" }}
                <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
                </span>
            </div>
            </div>

            <div class="field">
            <label class="label">Password</label>
            <p class="control has-icons-left">
                {{ form.password1|add_class:'input'|attr:"placeholder:Password" }}
                <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
                </span>
            </p>
            </div>

            <div class="field">
            <label class="label">Confirm Password</label>
            <p class="control has-icons-left">
                {{ form.password2|add_class:'input'|attr:"placeholder:Confirm Password" }}
                <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
                </span>
            </p>
            </div>

            <div class="field">
            <p class="control">
                <input type="submit" value="Signup" class="button is-success">
            </p>
            </div>

            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
</div>
</div>
{% endblock %}