{% extends "includes/base.html" %}

{% block content %}

<div class="container columns">
<div class="card column is-offset-one-third is-one-third-desktop">
    <div class="card-content">
        <p class="title">You Have been logged out!</p>
    </div>
</div>
</div>
{% endblock %}