{% extends "includes/base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="container columns">
<div class="card column is-offset-one-third is-one-third-desktop">
    <div class="card-content">
        <p class="title">Login</p>
        {% if form.errors %}
            <article class="message is-danger">
            <div class="message-body">
                Your username and password didn't match. Please try again.
            </div>
            </article>
        {% endif %}

        {% if next %}
            <article class="message is-danger">
            <div class="message-body">

            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %}

            </div>
            </article>
        {% endif %}
        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

            <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left has-icons-right">
                {{ form.username|add_class:'input'|attr:"placeholder:Username" }}
                <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
                </span>
            </div>
            </div>

            <div class="field">
            <label class="label">Password</label>
            <p class="control has-icons-left">
                {{ form.password|add_class:'input'|attr:"placeholder:Password" }}
                <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
                </span>
            </p>
            </div>

            <div class="field">
            <p class="control">
                <input type="submit" value="Login" class="button is-success">
            </p>
            </div>

            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
</div>
</div>
{% endblock %}