{% extends "includes/base.html" %} {% load static %} {% block title %} Accordion
{% endblock %} {% block content %}
<section class="container">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <h1 class="title">About Me</h1>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <button class="button is-info" id="btn-theme">
          <span>Change Theme</span>
        </button>
      </div>
    </div>
  </div>
  <div>
    <article class="message acc-el is-info">
      <div class="message-header">
        <p>Random Stuff</p>
        <div>
          <span class="icon up-button">
            <i class="fas fa-chevron-circle-up"></i>
          </span>
          <span class="icon down-button">
            <i class="fas fa-chevron-circle-down"></i>
          </span>
        </div>
      </div>
      <div class="message-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta
        nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida
        purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac
        <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et
        sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna
        a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
      </div>
    </article>
    <article class="message acc-el is-info">
      <div class="message-header">
        <p>Aktivitas Saat Ini</p>
        <div>
          <span class="icon up-button">
            <i class="fas fa-chevron-circle-up"></i>
          </span>
          <span class="icon down-button">
            <i class="fas fa-chevron-circle-down"></i>
          </span>
        </div>
      </div>
      <div class="message-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta
        nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida
        purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac
        <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et
        sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna
        a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
      </div>
    </article>
    <article class="message acc-el is-info">
      <div class="message-header">
        <p>Pengalaman Organisasi/Kepanitiaan</p>
        <div>
          <span class="icon up-button">
            <i class="fas fa-chevron-circle-up"></i>
          </span>
          <span class="icon down-button">
            <i class="fas fa-chevron-circle-down"></i>
          </span>
        </div>
      </div>
      <div class="message-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta
        nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida
        purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac
        <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et
        sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna
        a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
      </div>
    </article>
    <article class="message acc-el is-info">
      <div class="message-header">
        <p>Prestasi</p>
        <div>
          <span class="icon up-button">
            <i class="fas fa-chevron-circle-up"></i>
          </span>
          <span class="icon down-button">
            <i class="fas fa-chevron-circle-down"></i>
          </span>
        </div>
      </div>
      <div class="message-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta
        nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida
        purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac
        <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et
        sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna
        a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
      </div>
    </article>
  </div>
</section>
{% endblock %} {% block js %}
<script src="{% static 'story8/accordion.js' %}"></script>
{% endblock %} {% block head %}
<style>
  article.message > .message-header {
    cursor: pointer;
  }

  .level {
    margin-top: 1rem;
  }

  .dark {
    background-color: #17181c;
    color: #b5b5b5;
  }
</style>
{% endblock %}
